body {
    color: var(--text-color);
    display: flex;
    flex-direction: row;

    background-image: var(--gallery-bg-pattern);
    background-repeat: repeat;
    background-size: 32px 32px;
}


.sidebar{
    /*This says: dont grow past 200px if theres extra space, dont skrink if no space, and start at 800px*/
    flex: 0 0 200px; /* flex-grow: 0; flex-shrink: 0; flex-basis: 800px; */
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0px 10px;
}

.painting {
    break-inside: avoid;
    margin-bottom: 20px;
}

.painting img {
    width: 100%;
    display: block;
}

/* .painting .caption {
    margin-bottom: 1rem;
} */

.gallery {
    flex: 1 1 auto;
    min-width: 0;
    columns: 2;
    padding: 1.5rem;
    padding-left: 0;
    column-gap: 1.5vw;
}
