@font-face {
    font-family: "retrobyte";
    src: url("/fonts/RetroByte.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "starcrush";
    src: url("/fonts/Star Crush.ttf") format("truetype");
    font-display: swap;
}


:root {
    --primary: #125e50;

    --homepage-bg: url("/assets/bgs/carnation-lily-lily-rose-sargeant(7).png");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    color: white;
    overscroll-behavior: none;
}

body {
    font-family: "starcrush", monospace;
    font-size: 1rem;
    margin: 0;
    image-rendering: pixelated;

}

a, a:visited {
    color: white;
    text-decoration: none;
}
